body{
  font-family: 'Montserrat', sans-serif;
  background-color: var(--green-color);
  box-sizing: border-box;

}
:root{
  --red-color: #FF363C;
  --yellow-color: #FFE500;
  --green-color: #58DC00;
  --blue-color: #50CAFC;
  --purple-color: #9747FF;
  --pink-color: #FFD8BF;
  --gray-admin-color: #F5F5F5;
  --main-text-color: #403F3F;
  --secondary-text-color: #949494;
  --placeholder-text-color: #BABABA;
  --white-color: white;
  --border-container: 5px solid;
  --border-container-radius: 30px;
  --border-elements: 3px solid;
  --border-elements-radius: 25px;
  --shadow: 0 2px 6px rgba(255, 54, 60, 0.4);

}

/*Main css*/
.App {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
  color: var(--main-text-color);
}

.mainContainer{
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.3rem;
  background-color: #58DC00;
}

.homeContainer{
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 45px;
}

.adminContainer{
/* background-color: #BABABA;
width: 100vw;
height: 100vh; */
}

.navbar{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--white-color);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* Add shadow */
  z-index: 1000; /* Ensure the navbar is above other content */
}

input, textarea{
  outline: none;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  cursor: pointer;
}

.link{
  text-decoration: none;
  color: var(--blue-color);
}

.link:hover{
  text-decoration: none;
  color: var(--green-color);
}

.link:visited {
  text-decoration: none;
  color: var(--purple-color);
}

.footer {
  background-color: var(--white-color);
  padding: 15px;
  text-align: center;
  font-size: 0.9rem;
  bottom: 0;
  width: 100%;
}


/*HOME PAGE*/
/*ELEMENT PREVIEW*/

.previewBox{
  border: var(--border-container) var(--yellow-color);
  border-radius: var(--border-container-radius);
  background-color: var(--white-color);
}

.imgPreview{
  width: 220px;
  height: 220px;
  border-radius:25px;
}

.previewInfo{
  display: flex;
  justify-content: space-around;
  margin: 0px;
}

.sectionButton, .languageButton{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--red-color);
  border-radius: var(--border-elements-radius);
  font-size: 0.9rem;
  font-weight:500;
  color: aliceblue;
  cursor: pointer;
  width: 45%;
  height: 40px;
}

textarea{
  border-radius: 20px;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
}

.commentBlock {
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 250px;
}

.newCommentBlock {
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 250px;
}

.commentBox {
  font-size: 0.8rem;
  text-align: left;
  padding: 15px;
  background-color: var(--white-color);
  border: var(--border-elements) var(--red-color);
  border-radius: var(--border-container-radius);
  width: 200px;
}


.title{
color: var(--red-color);
font-size: 1.5rem;
font-weight: bold;
}

.box, .audioList{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white-color);
  border: var(--border-container) var(--red-color);
  border-radius: var(--border-container-radius);
}

.registerBox {

  width: 300px;
  margin: 50px;
  padding: 20px;
}

.newCommentBox{
  width: 300px;
  background-color: #9747FF;
}



.newComment{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 10px;
}

.newCommentText{
  border: var(--border-elements) var(--red-color);
  border-radius: var(--border-elements-radius);
  padding-left: 15px;
  width: 85%;
}

.form{
  display: flex;
  flex-direction: column;
  width: 85%;
}



.input, .submitButton{
  border: var(--border-elements) var(--red-color);
  border-radius: var(--border-elements-radius);
  margin: 0px 10px 13px 10px;
  padding-left: 15px;
  height: 35px;
}

.input:hover, textarea{
  border: var(--border-elements) var(--green-color);
}

.submitButton {
  background-color: var(--red-color);
  color: var(--white-color);
  font-family: 'Montserrat', sans-serif;
  font-size: 0.85rem;
  font-weight:600;
  height: 40px;
  box-shadow: var(--shadow);
}

.submitButton:active{
  background-color: var(--green-color);
  color: var(--white-color);
  font-family: 'Montserrat', sans-serif;
  font-size: 0.85rem;
  font-weight:600;
  height: 40px;
}

.addButton{
  width: 100%;
}
::placeholder {
  color: var(--placeholder-text-color);
  font-size: 0.9rem;
}

.hint, .boldLink{
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--secondary-text-color);
  margin: 0px;
}

.boldLink{
  color: var(--main-text-color);
}

.boldLink:visited{
  color: var(--main-text-color);
  color: #58DC00;
}

li{
  display: inline;
  margin-left: 20px;
}

.listRecord{
  display: flex;
  border: var(--border-container) var(--yellow-color);
  gap: 15px;
  padding: 30px;
}

.listComment{
  display: flex;
  flex-direction: column;
  gap:10px;
  align-items: center;
  background-color: var(--white-color);
}

.listBox {
  padding: 5px;
}

.infoBlock{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}



/*INFO BLOCK: COMMENT, AUDIO INFO, PENDING AUDIO ELEMENTS*/

.pendingInfoBox {
  border: var(--border-elements) var(--secondary-text-color);
  border-radius: var(--border-elements-radius);
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  width: 250px;
  height: 45px;
}

.activeInfoBox {
  border: var(--border-elements) var(--red-color);
  border-radius: var(--border-elements-radius);
  background-color: var(--yellow-color);
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  gap:10px;
  width: 250px;
  height: 45px;
}

.pendingIconBox{
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content:space-between;
  border: 1px solid rgb(61, 1, 134);
  gap: 10px;
  margin-right: 20px;
}

.activeIconBox{
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content:space-between;
  gap: 12px;
  margin-right: 20px;
}

.redBorder{
  border: var(--border-elements) var(--red-color);
}

 .userBox{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:15px; 
 }  

.userIcon{
  border-radius: 50px;
  width:60px;
  height:60px;
  z-index: 1;
}

.infoTextBox{
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: center;
  color: var(--red-color);
  /* border: 1px solid blue; */
}

.infoName{
  font-size: 0.9rem;
  font-weight: bold;
  margin: 1px;
}

.infoText{
  font-size: 0.8rem;
  margin: 1px;
}

.icon-red, .icon-green, .icon-grey, .icon-more, .icon-heart, .icon-home, .submitButton, .playerIcons{
  cursor: pointer;
  transition: transform 0.3s;
}

.icon-red:hover, .icon-green:hover, .icon-grey:hover, .icon-more:hover, .icon-heart:hover, .icon-home:hover,  .playerIcons:hover{
  transform: scale(1.1);
}

.submitButton:hover{
  transform: scale(1.02);
}


.icon-red{
  color: var(--red-color);
  font-size: 1.7rem;
}

.icon-green{
  color: var(--green-color);
  font-size: 1.7rem;
}

.icon-grey{
  color: var(--secondary-text-color);
  font-size: 1.7rem;
}

.icon-more{
  color: var(--red-color);
  width: 25px;
}

.icon-heart{
  color: var(--red-color);
  font-size: 1.9rem;
}

.icon-home{
  margin-bottom: -3.5px;
  color: var(--blue-color)
}

.imgExercise{
  width: 400px;
  height: 400px;
}

.likeCircle{
  border: var(--border-elements) var(--red-color);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
  border-radius: 50px;
  width:55px;
  height:55px;
  box-shadow: var(--shadow);
  z-index: 1;
}

/*PLAYER COMPONENT*/
.playerButtonsBox{
  display: flex;
  justify-content: center;
  gap: 20px;

}

.playBlock{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.activeRecordAvatar{
  width: 50%;
}

